
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Chosen
@import '~sass-svg-uri/svg-uri';
@import '~bootstrap4c-chosen/src/scss/component-variables';
@import '~bootstrap4c-chosen/src/scss/component-chosen';

// custom
@import "component/scrollbox";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.alert-fullwidth {
  border-radius: 0;
}

.item-image-columns {
  .card {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    border: 0;
    border-radius: 0;
  }

  column-count: 2;
  column-gap: 0;
  orphans: 1;
  widows: 1;

  @include media-breakpoint-up(sm) {
    column-count: 3;
  }

  @include media-breakpoint-up(md) {
    column-count: 4;
  }

  @include media-breakpoint-up(lg) {
    column-count: 5;
  }

  @include media-breakpoint-up(xl) {
    column-count: 6;
  }
}

.item-image-container {
  height: 14rem;

  @include media-breakpoint-up(sm) {
    height: 10rem;
  }

  @include media-breakpoint-up(md) {
    height: 8rem;
  }

  @include media-breakpoint-up(lg) {
    height: 7rem;
  }

  @include media-breakpoint-up(xl) {
    height: 7rem;
  }
}

.text-regular {
  font-family: Helvetica, Arial, sans-serif;
}

.flex-scroll-container {
  display: flex;
  flex-wrap: nowrap;

  // give us native scrolling in iOS
  -webkit-overflow-scrolling: touch;

  overflow-x: auto;
  overflow-y: hidden;
}
