package main

import (
	"github.com/lolibrary/lolibrary/foundation"
	"github.com/lolibrary/lolibrary/libraries/filters"

	"github.com/lolibrary/lolibrary/template.service/dao"
	"github.com/lolibrary/lolibrary/template.service/handler"
)

func main() {
	srv := foundation.Init("template.service")
	db := dao.Init()
	defer db.Close()

    svc := handler.Service().Filter(filters.CommonFilters)
	srv.Run(svc)
}
